<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Technodom</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Technodom.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="https://colibri.org.kz/storage/boutiques/tekhnodom/logo.png" style="height: 60px;">
            </a>
            <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Phones" asp-action="Index">Phones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Laptops" asp-action="Index">Laptops</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Televisors" asp-action="Index">TV</a>
            </li>
            </ul>
        </header>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
